In [24]:
import pandas as pd
import json

In [25]:
df = pd.read_excel('data/DATA.xlsx',sheet_name='user')

In [26]:
df.isnull().sum()

User                0
State               0
ID                  0
Name                0
HQ                  0
User Designation    0
Mobile              0
Password            0
dtype: int64

In [27]:
df.columns

Index(['User', 'State', 'ID', 'Name', 'HQ', 'User Designation', 'Mobile',
       'Password'],
      dtype='object')

In [28]:
df = df[['State','User Designation','HQ','User','Password']]

In [29]:
df.sort_values(by=['State','User Designation','HQ','User'],inplace=True)

In [30]:
df.head(5)

,State,User Designation,HQ,User,Password
9,Gujarat,ASM,Bhuj,Sahil Mansuri|PGGJ1005,5896
19,Gujarat,ASM,Rajkot,Hitesh Thakkar|PGGJ1004,9493
24,Gujarat,ASM,Rajkot,Vinesh Trivedi|PGGJ1006,7460
33,Gujarat,ASM,Vadodara,Girwat Sing Raj|PGGJ1003,4330
271,Gujarat,RSM,Surat,Shashi Bhushan Mishra|PGGJ1045,1123

In [31]:
df1 = df[['State','User Designation','HQ','User','Password']]

In [32]:
df1

,State,User Designation,HQ,User,Password
9,Gujarat,ASM,Bhuj,Sahil Mansuri|PGGJ1005,5896
19,Gujarat,ASM,Rajkot,Hitesh Thakkar|PGGJ1004,9493
24,Gujarat,ASM,Rajkot,Vinesh Trivedi|PGGJ1006,7460
33,Gujarat,ASM,Vadodara,Girwat Sing Raj|PGGJ1003,4330
271,Gujarat,RSM,Surat,Shashi Bhushan Mishra|PGGJ1045,1123
...,...,...,...,...,...
238,Uttarakhand,SR,Kotdwar,Rakesh Singh|PGUK1013,3128
239,Uttarakhand,SR,Pithoragarh,Rahul Bhatt|PGUK1002,9523
281,Uttarakhand,SR,Rishikesh,Deepak|PGUK1027,2968
263,Uttarakhand,SR,Rishikesh,Ganesh|PGUK1024,7698
264,Uttarakhand,SR,Roorkee,Krish|PGUK1025,4082

In [33]:
df11 = df1.sample(2)

In [34]:
df1.columns

Index(['State', 'User Designation', 'HQ', 'User', 'Password'], dtype='object')

In [35]:
# Create nested dictionary with password at DB level
nested = {}

for _, row in df1.iterrows():
    state = row['State']
    ss = row['User Designation']
    db = row['HQ']
    ws = row['User'] # USER
    pwd = row['Password']

    state_dict = nested.setdefault(state, {})
    ss_dict = state_dict.setdefault(ss, {})
    hq_dict = ss_dict.setdefault(db, {})
    db_dict = hq_dict.setdefault(ws, {"password": pwd, "user": []})

    db_dict["user"].append(ws)

# Save
with open("data/dropdown.json", "w") as f:
    json.dump(nested, f, indent=4)