In [45]:
import pandas as pd
import json

In [46]:
df = pd.read_excel('data/DATA.xlsx',sheet_name='user')

In [47]:
df.isnull().sum()

ASM                 0
SO                  0
State               0
User                0
User Designation    0
HQ                  0
Password            0
dtype: int64

In [48]:
df.columns

Index(['ASM', 'SO', 'State', 'User', 'User Designation', 'HQ', 'Password'], dtype='object')

In [49]:
df = df[['State','ASM','SO','User Designation','HQ','User','Password']]

In [50]:
df.head(5)

,State,ASM,SO,User Designation,HQ,User,Password
0,Gujarat,Manglik Kumar H Mehta,Manglik Kumar H Mehta,RSM,Ahmedabad,Manglik Kumar H Mehta,2025
1,Gujarat,vacant- Ahmedabad- Asm,Vacant- Ahmedabad -so,SR,Ahmedabad,Amit Kumar Patel,2025
2,Gujarat,vacant- Ahmedabad- Asm,Vacant- Ahmedabad -so,SR,Ahmedabad,Dhansukh Algotar,2025
3,Gujarat,vacant- Ahmedabad- Asm,Vacant- Ahmedabad -so,SR,Ahmedabad,Hasumukh Prajapati,2025
4,Gujarat,vacant- Ahmedabad- Asm,Vacant- Ahmedabad -so,SR,Ahmedabad,Javed Shaikh,2025

In [51]:
df1 = df[['State','User Designation','HQ','User','Password']]

In [52]:
df1

         State User Designation         HQ                   User  Password
0      Gujarat              RSM  Ahmedabad  Manglik Kumar H Mehta      2025
1      Gujarat               SR  Ahmedabad       Amit Kumar Patel      2025
2      Gujarat               SR  Ahmedabad       Dhansukh Algotar      2025
3      Gujarat               SR  Ahmedabad     Hasumukh Prajapati      2025
4      Gujarat               SR  Ahmedabad           Javed Shaikh      2025
..         ...              ...        ...                    ...       ...
113  Rajasthan               SR    Jodhpur         Devendra singh      2025
114  Rajasthan               SR    Jodhpur     Manoj Kumar Sharma      2025
115  Rajasthan               SR   Sumerpur              Mohd Naim      2025
116  Rajasthan               SR   Sumerpur          Mukesh Parmar      2025
117  Rajasthan               SR   Sumerpur          Shaitan Singh      2025

[118 rows x 5 columns]

In [53]:
df11 = df1.sample(2)

In [54]:
# Create nested dictionary with password at DB level
nested = {}

for _, row in df1.iterrows():
    state = row['State']
    ss = row['User Designation']
    db = row['HQ']
    ws = row['User'] # USER
    pwd = row['Password']

    state_dict = nested.setdefault(state, {})
    ss_dict = state_dict.setdefault(ss, {})
    hq_dict = ss_dict.setdefault(db, {})
    db_dict = hq_dict.setdefault(ws, {"password": pwd, "user": []})

    db_dict["user"].append(ws)

# Save
with open("data/dropdown.json", "w") as f:
    json.dump(nested, f, indent=4)